[submodule "api-auctions"]
	path = api-auctions
	url = https://github.com/adanlaldy/api-auctions
[submodule "api-users"]
	path = api-users
	url = https://github.com/adanlaldy/api-users
[submodule "front"]
	path = front
	url = https://github.com/adanlaldy/front
